mixin text( name, label, val, req = false, classes = '', datalist = [] )
  div.cc-form--field( class= classes )
    label( for= '__' + name )= label + ( req ? ' *' : '' )
    input(
      type= "text", name= name, value= value,
      required= req, id= '__' + name,
      list= datalist.length ? '__' + name + '-list' : undefined
    )
    if datalist.length
      datalist( id= '__' + name + '-list' )
        each item in datalist
          option( value= item )= item

mixin number( name, label, val, req = false, classes = '', min = 0, max = undefined, step = 0.01 )
  div.cc-form--field( class= classes )
    label( for= '__' + name )= label + ( req ? ' *' : '' )
    input(
      type= "number", name= name, value= value, min= min, max= max, step= step,
      required= req, id= '__' + name
    )

mixin date( name, label, val, req = false, classes = '' )
  div.cc-form--field( class= classes )
    label( for= '__' + name )= label + ( req ? ' *' : '' )
    input(
      type= "date", name= name, value= value && new Date( value ).toISOString().split( 'T' )[ 0 ],
      required= req, id= '__' + name
    )

mixin textarea( name, label, val, req = false, classes = '' )
  div.cc-form--field( class= classes )
    label( for= '__' + name )= label + ( req ? ' *' : '' )
    textarea( name= name, required= req, id= '__' + name )= val

mixin select( name, label, keys, val, req = false, classes = '' )
  div.cc-form--field( class= classes )
    label( for= '__' + name )= label + ( req ? ' *' : '' )
    select( name= name, required= req, id= '__' + name )
      option( value= "" )= t( 'editor.select' )
      option( disabled ) ──────────
      each k in keys
        option( value= k, selected= ( k === val ) )= t( '_.' + name + '.' + k )
