append styles
  link( rel= "stylesheet", href= "/css/components/list.css" )

append scripts
  script( src= "/js/list.js", defer )

mixin list()
  div.cc-list
    div.cc-list--filter
      div.cc-list--filter-search
        i.fa.fa-search
        input.cc-list--filter-search-input(
          filter= "search", type= "text", autocomplete= "off",
          placeholder= t( 'list.filter.search' )
        )
      div.cc-list--filter-controls
        i.fa.fa-filter
        label= t( 'list.filter.label' )
        select.cc-list--filter-select( filter= "type" )
          option( value= "" )= t( 'list.filter.type' )
        select.cc-list--filter-select( filter= "status" )
          option( value= "" )= t( 'list.filter.status' )
        select.cc-list--filter-select( filter= "grade" )
          option( value= "" )= t( 'list.filter.grade' )
        select.cc-list--filter-select( filter= "country" )
          option( value= "" )= t( 'list.filter.country' )
        select.cc-list--filter-select( filter= "currency" )
          option( value= "" )= t( 'list.filter.currency' )
        select.cc-list--filter-select( filter= "year" )
          option( value= "" )= t( 'list.filter.year' )
    div.cc-list--table-container
      table.cc-list--table
        thead.cc-list--table-header
          tr
            th._coin= t( 'list.th.coin' )
            th._type= t( 'list.th.type' )
            th._status= t( 'list.th.status' )
            th._series= t( 'list.th.series' )
            th._country= t( 'list.th.country' )
            th._currency= t( 'list.th.currency' )
            th._year= t( 'list.th.year' )
            th._nominal= t( 'list.th.nominal' )
            th._grade= t( 'list.th.grade' )
            th._amount= t( 'list.th.amount' )
            th._omv= t( 'list.th.omv' )
        tbody.cc-list--table-content
        tfoot.cc-list--table-empty
          tr
            td( colspan= "11" )= t( 'list.empty' )
    p.cc-list--eol= t( 'list.eol' )
