append styles
  link( rel= "stylesheet", href= "/css/components/list.css" )

mixin list()
  div.cc-list
    div.cc-list--table-container
      table.cc-list--table
        thead.cc-list--table-header
          tr
            th._coin= t( 'list.th.coin' )
            th._type= t( 'list.th.type' )
            th._status= t( 'list.th.status' )
            th._series= t( 'list.th.series' )
            th._country= t( 'list.th.country' )
            th._currency= t( 'list.th.currency' )
            th._year= t( 'list.th.year' )
            th._nominal= t( 'list.th.nominal' )
            th._grade= t( 'list.th.grade' )
            th._amount= t( 'list.th.amount' )
            th._omv= t( 'list.th.omv' )
