append styles
  link( rel= "stylesheet", href= "/css/components/list.css" )

append scripts
  script( src= "/js/list.js", defer )

mixin list()
  div.cc-mixin.cc-mixin--list
    div.cc-list--filter
      div.cc-list--filter-search
        i.fa.fa-search
        input.cc-list--filter-search-input(
          filter= "search", type= "text", autocomplete= "off",
          placeholder= t( 'list.filter.search' )
        )
      div.cc-list--filter-controls
        each s in [ 'type', 'status', 'grade', 'series', 'country', 'currency', 'issuer', 'mintMark', 'year', 'material' ]
          select.cc-list--filter-select( filter= s )
            option( value= "" )= t( 'list.filter.' + s )
            option( disabled ) ──────────

    div.cc-list--table-container
      table.cc-table.cc-list--table
        thead.cc-list--table-header
          tr
            th._coin= t( 'list.table.coin' )
            th._type= t( 'list.table.type' )
            th._status= t( 'list.table.status' )
            th._country= t( 'list.table.country' )
            th._year= t( 'list.table.year' )
            th._grade= t( 'list.table.grade' )
            th._amount.right= t( 'list.table.amount' )
            th._value.right= t( 'list.table.value' )
        tbody.cc-list--table-content
        tfoot.cc-list--table-empty
          tr
            td( colspan= "7" )= t( 'list.empty' )

    p.cc-list--eol= t( 'list.eol' )
