extends layout/page
include components/chart
include components/material

append styles
  link( rel= "stylesheet", href= "/css/coin.css" )

append scripts
  script( src= "/js/coin.js", defer )

block main
  div.cc-coin.cc-content--normal
    div.cc-coin--header
      h2.cc-coin--name= coin.name
      div.cc-coin--actions
        a.cc-btn( href= "/" )
          i.fa.fa-arrow-left
          span= t( 'coin.actions.back' )
        a.cc-btn( href= "/edit/" + coin.id )
          i.fa.fa-pencil
          span= t( 'coin.actions.edit' )
        a.cc-btn( href= "#delete", coin= coin.id )
          i.fa.fa-trash-o
          span= t( 'coin.actions.delete' )

    div.cc-coin--content
      div.cc-coin--aside
        if coin.images
          if coin.images.obverse
            figure.cc-coin--image
              img( src= "/uploads/" + coin.images.obverse, alt= "Obverse", loading= "lazy" )
              figcaption= t( 'coin.design.obverse' )
          if coin.images.reverse
            figure.cc-coin--image
              img( src= "/uploads/" + coin.images.reverse, alt= "Reverse", loading= "lazy" )
              figcaption= t( 'coin.design.reverse' )

        if coin.tags
          div.cc-coin--tags
            each tag in coin.tags
              a( href= "/#search=" + encodeURIComponent( tag ) )= tag

      div.cc-coin--main
        div.cc-coin--info.cc-box
          ul.cc-coin--info-list.col2
            if coin.type
              li.cc-coin--info-list-item
                label= t( 'coin.info.type' )
                a( href= "/#type=" + encodeURIComponent( coin.type ) )= t( '_.type.' + coin.type )
            if coin.status
              li.cc-coin--info-list-item
                label= t( 'coin.info.status' )
                span
                  a( href= "/#status=" + encodeURIComponent( coin.status ) )= t( '_.status.' + coin.status )
                  span= ' (' + coin.amount + 'x)'
            if coin.grade
              li.cc-coin--info-list-item
                label= t( 'coin.info.grade' )
                a( href= "/#grade=" + encodeURIComponent( coin.grade ) )= t( '_.grade.' + coin.grade )
            if coin.country
              li.cc-coin--info-list-item
                label= t( 'coin.info.country' )
                a( href= "/#country=" + encodeURIComponent( coin.country ) )= coin.country
            if coin.currency
              li.cc-coin--info-list-item
                label= t( 'coin.info.currency' )
                a( href= "/#currency=" + encodeURIComponent( coin.currency ) )= coin.currency
            if coin.series
              li.cc-coin--info-list-item
                label= t( 'coin.info.series' )
                a( href= "/#search=" + encodeURIComponent( coin.series ) )= coin.series
            if coin.nominalValue
              li.cc-coin--info-list-item
                label= t( 'coin.info.nominal' )
                span= coin.nominalValue.value + ' ' + coin.nominalValue.unit
            if coin.design && coin.design.shape
              li.cc-coin--info-list-item
                label= t( 'coin.info.shape' )
                span= t( '_.shape.' + coin.design.shape )
            if coin.mint && ( coin.mint.issueDate || coin.mint.mintYear )
              li.cc-coin--info-list-item
                label= t( 'coin.info.age' )
                span= formatter.dateDiff( coin.mint.issueDate || coin.mint.mintYear, t )
            if coin.purchase && coin.purchase.date
              li.cc-coin--info-list-item
                label= t( 'coin.info.since' )
                span= formatter.dateDiff( coin.purchase.date, t )
          if coin.dimension
            hr.cc-divider
            ul.cc-coin--info-list.col3
              if coin.dimension.diameter
                li.cc-coin--info-list-item
                  label= t( 'coin.info.diameter' )
                  span= formatter.unit( 'millimeter', coin.dimension.diameter )
              if coin.dimension.thickness
                li.cc-coin--info-list-item
                  label= t( 'coin.info.thickness' )
                  span= formatter.unit( 'millimeter', coin.dimension.thickness )
              if coin.dimension.weight
                li.cc-coin--info-list-item
                  label= t( 'coin.info.weight' )
                  span= formatter.unit( 'gram', coin.dimension.weight )
          if coin.mint
            hr.cc-divider
            ul.cc-coin--info-list.col3
              if coin.mint.mark
                li.cc-coin--info-list-item
                  label= t( 'coin.info.mintMark' )
                  span= coin.mint.mark
              if coin.mint.issueDate
                li.cc-coin--info-list-item
                  label= t( 'coin.info.issueDate' )
                  span= formatter.date( coin.mint.issueDate )
              else if coin.mint.year
                li.cc-coin--info-list-item
                  label= t( 'coin.info.mintYear' )
                  span= coin.mint.year
              if coin.mint.mintage
                li.cc-coin--info-list-item
                  label= t( 'coin.info.mintage' )
                  span= formatter.number( coin.mint.mintage, 0 )
          if coin.material
            hr.cc-divider
            ul.cc-coin--info-list
              li.cc-coin--info-list-item
                label= t( 'coin.material' )
                +material( coin.material )

        if coin.description
          div.cc-coin--desc
            i.fa.fa-quote-left
            p= coin.description

        if ( coin.design && ( coin.design.obverse || coin.design.reverse || coin.design.edge ) ) || coin.note
          div.cc-coin--info.cc-box
            ul.cc-coin--info-list
              if coin.design.obverse
                li.cc-coin--info-list-item
                  label= t( 'coin.design.obverse' )
                  p= coin.design.obverse
              if coin.design.reverse
                li.cc-coin--info-list-item
                  label= t( 'coin.design.reverse' )
                  p= coin.design.reverse
              if coin.design.edge
                li.cc-coin--info-list-item
                  label= t( 'coin.design.edge' )
                  p= coin.design.edge
              if coin.note
                li.cc-coin--info-list-item
                  label= t( 'coin.note' )
                  p= coin.note

        p.cc-coin--modified= t( '_.modified', { date: formatter.date( coin.updatedAt ) } )

        if coin.purchase || ( coin.omv && coin.omv.length )
          div.cc-coin--value
            if coin.purchase
              div.cc-coin--value-item.cc-box.purchase
                label= t( 'coin.value.purchase' )
                b= formatter.money( currency, coin.purchase.value )
                if coin.purchase.date
                  span= t( 'coin.value.datetime', { date: formatter.date( coin.purchase.date ) } )
            if coin.omv && coin.omv.length
              div.cc-coin--value-item.cc-box.omv
                label= t( 'coin.value.omv' )
                b= formatter.money( currency, coin.omv[0].value )
                if coin.omv[0].date
                  span= t( 'coin.value.datetime', { date: formatter.date( coin.omv[0].date ) } )
            if coin.purchase && coin.omv && coin.omv.length
              - let o = coin.omv[0], p = coin.purchase;
              div.cc-coin--value-item.cc-box.growth
                label= t( 'coin.value.growth' )
                b= formatter.money( currency, o.value - p.value )
                span= t( 'coin.value.percent', { growth: formatter.percent( o.value / p.value * 100, 1, { signDisplay: 'exceptZero' } ) } )

          if coin.omv.length > 1
            div.cc-coin--value-chart.cc-box
              +chart( 'value', { purchase: coin.purchase, omv: coin.omv, material: coin.material } )
