extends ./layout/page

append styles
  link( rel= "stylesheet", href= "/css/coin.css" )

block main
  div.cc-coin.cc-content--normal
    div.cc-coin--header
      h2.cc-coin--name= coin.name
      div.cc-coin--actions
        a.cc-btn( href= "/" )
          i.fa.fa-arrow-left
          span= t( 'coin.actions.back' )
        a.cc-btn( href= "/edit/" + coin.id )
          i.fa.fa-pencil
          span= t( 'coin.actions.edit' )

    div.cc-coin--content
      div.cc-coin--aside
      div.cc-coin--main
        div.cc-coin--info.cc-box
          ul.cc-coin--info-list
            if coin.country
              li.cc-coin--info-list-item
                label= t( 'coin.info.country' )
                a( href= "/?country=" + coin.country )= coin.country
