extends layout/page

append styles
  link( rel= "stylesheet", href= "/css/editor.css" )

block main
  div.cc-editor.cc-content--normal
    h2.cc-page-title= t( 'editor.title' )

    div.cc-editor--content
      div.cc-editor--main
        div.cc-editor--info.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.info.title' )

        div.cc-editor--mint.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.mint.title' )

        div.cc-editor--material.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.material.title' )

        div.cc-editor--design.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.design.title' )

        div.cc-editor--value.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.value.title' )

      div.cc-editor--aside
        div.cc-editor--images.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.images.title' )
