extends layout/page

mixin selector( name, keys, val, req = false )
  select( name= name, required= req )
    option= t( 'editor.select' )
    each k in keys
      option( value= k, selected= ( k === val ) )= t( '_.' + name + '.' + k )

append styles
  link( rel= "stylesheet", href= "/css/editor.css" )

block main
  form.cc-editor.cc-content--normal( autocomplete= "on" )
    input( type= "hidden", name= "id", value= coin && coin.id )
    h2.cc-page-title= t( 'editor.title' )

    div.cc-editor--content
      div.cc-editor--main
        div.cc-editor--info.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.info.title' )
          div.cc-editor--row
            div.cc-editor--item.x2
              label= t( 'editor.info.name' )
              input( type= "text", name= "name", value= coin && coin.name, required )
            div.cc-editor--item
              label= t( 'editor.info.type' )
              +selector( 'type', selectors.type, coin && coin.type, true )
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.info.series' )
              input( type= "text", name= "series", value= coin && coin.series )
            div.cc-editor--item
              label= t( 'editor.info.country' )
              input( type= "text", name= "country", value= coin && coin.country )
          div.cc-editor--row
            div.cc-editor--item.x2
              label= t( 'editor.info.status' )
              +selector( 'status', selectors.status, coin && coin.status, true )
            div.cc-editor--item.x2
              label= t( 'editor.info.grade' )
              +selector( 'grade', selectors.grade, coin && coin.grade, true )
            div.cc-editor--item
              label= t( 'editor.info.amount' )
              input(
                type= "number", name= "amount", min= 1, step= 1,
                value= coin && coin.amount, required
              )
          div.cc-editor--row
            div.cc-editor--item.x2
              label= t( 'editor.info.currency' )
              input( type= "text", name= "currency", value= coin && coin.currency )
            div.cc-editor--item
              label= t( 'editor.info.nominal.value' )
              input(
                type= "number", name= "nominalValue.value", min= 0,
                value= coin && coin.nominalValue && coin.nominalValue.value
              )
            div.cc-editor--item
              label= t( 'editor.info.nominal.unit' )
              input(
                type= "text", name= "nominalValue.unit",
                value= coin && coin.nominalValue && coin.nominalValue.unit
              )
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.info.tags' )
              input( type= "text", name= "tags", value= ( coin && coin.tags || [] ).join( ', ' ) )

        div.cc-editor--mint.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.mint.title' )
          div.cc-editor--row
            div.cc-editor--item.x2
              label= t( 'editor.mint.mark' )
              input(
                type= "text", name= "mint.mark",
                value= coin && coin.mint && coin.mint.mark
              )
            div.cc-editor--item
              label= t( 'editor.mint.year' )
              input(
                type= "number", name= "mint.year", min= 0, max= 2100, step= 1,
                value= coin && coin.mint && coin.mint.year
              )
            div.cc-editor--item
              label= t( 'editor.mint.date' )
              input(
                type= "date", name= "mint.issueDate", value= (
                  coin && coin.mint && coin.mint.issueDate || ''
                ).split( 'T' )[ 0 ]
              )
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.mint.mintage' )
              input(
                type= "number", name= "mint.mintage", min= 0,
                value= coin && coin.mint && coin.mint.mintage
              )
          hr.cc-divider
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.mint.diameter' )
              input(
                type= "number", name= "dimension.diameter", min= 0, step= 0.1,
                value= coin && coin.dimension && coin.dimension.diameter
              )
            div.cc-editor--item
              label= t( 'editor.mint.thickness' )
              input(
                type= "number", name= "dimension.thickness", min= 0, step= 0.01,
                value= coin && coin.dimension && coin.dimension.thickness
              )
            div.cc-editor--item
              label= t( 'editor.mint.weight' )
              input(
                type= "number", name= "dimension.weight", min= 0, step= 0.01,
                value= coin && coin.dimension && coin.dimension.weight
              )

        div.cc-editor--material.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.material.title' )
          each i in [ 0, 1, 2, 3 ]
            div.cc-editor--row
              div.cc-editor--item.x2
                label= t( 'editor.material.name' )
                input(
                  type= "text", name= "material.name[]",
                  value= coin && coin.material && coin.material[ i ] && coin.material[ i ].name
                )
              div.cc-editor--item
                label= t( 'editor.material.key' )
                input(
                  type= "text", name= "material.key[]",
                  value= coin && coin.material && coin.material[ i ] && coin.material[ i ].key
                )
              div.cc-editor--item
                label= t( 'editor.material.fineness' )
                input(
                  type= "number", name= "material.fineness[]", min= 0, max= 1000, step= 0.1,
                  value= coin && coin.material && coin.material[ i ] && coin.material[ i ].fineness
                )
              div.cc-editor--item
                label= t( 'editor.material.portion' )
                input(
                  type= "number", name= "material.portion[]", min= 0, max= 100, step= 0.1,
                  value= coin && coin.material && coin.material[ i ] && coin.material[ i ].portion
                )

        div.cc-editor--design.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.design.title' )
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.design.shape' )
              +selector( 'shape', selectors.shape, coin && coin.design && coin.design.shape )
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.design.description' )
              textarea( name= "description" )= coin && coin.description
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.design.note' )
              textarea( name= "note" )= coin && coin.note
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.design.obverse' )
              textarea( name= "design.obverse" )= coin && coin.design && coin.design.obverse
            div.cc-editor--item
              label= t( 'editor.design.reverse' )
              textarea( name= "design.reverse" )= coin && coin.design && coin.design.reverse
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.design.edge' )
              textarea( name= "design.edge" )= coin && coin.design && coin.design.edge

        div.cc-editor--value.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.value.title' )
          div.cc-editor--row
            div.cc-editor--item
              label= t( 'editor.value.purchase.date' )
              input(
                type= "date", name= "purchase.date", value= (
                  coin && coin.purchase && coin.purchase.date || ''
                ).split( 'T' )[ 0 ]
              )
            div.cc-editor--item
              label= t( 'editor.value.purchase.value', { currency } )
              input(
                type= "number", name= "purchase.value", min= 0, step= 0.01,
                value= coin && coin.purchase && coin.purchase.value
              )
          hr.cc-divider
          each i in [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
            div.cc-editor--row
              div.cc-editor--item
                label= t( 'editor.value.omv.date' )
                input(
                  type= "date", name= "omv.date[]", value= (
                    coin && coin.omv && coin.omv[ i ] && coin.omv[ i ].date || ''
                  ).split( 'T' )[ 0 ]
                )
              div.cc-editor--item
                label= t( 'editor.value.omv.value', { currency } )
                input(
                  type= "number", name= "omv.value[]", min= 0, step= 0.01,
                  value= coin && coin.omv && coin.omv[ i ] && coin.omv[ i ].value
                )

      div.cc-editor--aside
        div.cc-editor--images.cc-editor--box.cc-box
          h3.cc-box--hl= t( 'editor.images.title' )

        div.cc-editor--actions
          button( type= "submit" )= t( 'editor.submit' )
          button( type= "reset" )= t( 'editor.abort' )
