extends layout/page

append styles
  link( rel= "stylesheet", href= "/css/settings.css" )

append scripts
  script( src= "/js/settings.js", defer )

block main
  div.cc-settings.cc-content--normal
    h2.cc-page-title= t( 'settings.title' )

    div.cc-settings--box.cc-box
      h3.cc-settings--box-hl= t( 'settings.language' )
      div.cc-settings--item
        select#languageSelect
          each lng in supportedLngs
            option( value= lng, selected= ( lang === lng ) )= t( '_.lang.' + lng )

      h3.cc-settings--box-hl= t( 'settings.currency' )
      div.cc-settings--item
        select#currencySelect
          each cur in [ 'USD', 'EUR', 'GBP', 'CHF', 'JPY' ]
            option( value= cur, selected= ( currency === cur ) )= t( '_.currency.' + cur )

    div.cc-settings--box.cc-box
      h3.cc-settings--box-hl= t( 'settings.database' )

      div.cc-settings--item
        button.cc-settings--button._primary#exportDb
          span= t( 'settings.export' )
          small= t( 'settings.exportinfo' )

      div.cc-settings--item
        button.cc-settings--button._primary#updateDb
          span= t( 'settings.update' )
          small= t( 'settings.updateinfo' )

      div.cc-settings--item
        button.cc-settings--button._danger#resetDb
          span= t( 'settings.reset' )
          small= t( 'settings.resetinfo' )
