extends ./layout/page
include ./components/form

append styles
  link( rel= "stylesheet", href= "/css/form.css" )
  link( rel= "stylesheet", href= "/css/settings.css" )

block main
  div.cc-settings.cc-content--normal
    h3.cc-page--headline
      i.fa.fa-life-ring
      span= t( 'settings.title' )

    if message
      div.cc-box.cc-settings--message= t( 'settings.' + message )

    div.cc-settings--info.cc-box
      h3.cc-box--hl= t( 'settings.database' )
      ul.cc-settings--info-list
        li
          span= t( 'settings.currentCurrency' )
          b= currency
        li
          span= t( 'settings.currentLanguage' )
          b= t( '_.lang.' + language )
        li
          span= t( 'settings.coins' )
          b= formatter.number( coinCount, 0 )
        li
          span= t( 'settings.bases' )
          b= formatter.number( baseCount, 0 )
        li
          span= t( 'settings.unusedImages' )
          b= formatter.number( unusedImages.length, 0 )

    form.cc-box.cc-form.cc-settings--form( action= "/settings", method= "post" )
      input( type= "hidden", name= "action", value= "save" )
      h3.cc-box--hl= t( 'settings.changeHeadline' )
      div.cc-form--row
        +select( 'currency', t( 'settings.selectCurrency' ), supportedCurrencies, currency, true )
        +select( 'lang', t( 'settings.selectLanguage' ), supportedLanguages, language, true )
      div.cc-form--row
        button.cc-form--submit( type= "submit" )= t( '_.actions.submit' )

    h3.cc-page--headline
      i.fa.fa-database
      span= t( 'settings.maintenance' )

    div.cc-box.cc-settings--maintenance
      h3.cc-box--hl= t( 'settings.databaseMaintenance' )
      div.cc-form--row
        form( action= "/settings", method= "post" )
          input( type= "hidden", name= "action", value= "refresh" )
          button.cc-form--submit( type= "submit" )= t( 'settings.refreshDb' )
        form( action= "/settings", method= "post", class= "cc-form cc-form--danger", style= "display:inline-block" )
          input( type= "hidden", name= "action", value= "cleanup" )
          button.cc-form--submit( type= "submit" )= t( 'settings.cleanupImages' )

    div.cc-box.cc-settings--export-import
      h3.cc-box--hl= t( 'settings.exportImport' )
      p= t( 'settings.exportImportInfo' )
      a.cc-settings--export( href= "/api/settings/export" )
        i.fa.fa-download
        span= t( 'settings.exportData' )

    form.cc-box.cc-settings--danger( action= "/settings", method= "post" )
      h3.cc-box--hl= t( 'settings.dangerZone' )
      div.cc-form--row
        +text( 'confirmClear', t( 'settings.confirmClear' ), '', true )
        input( type= "hidden", name= "action", value= "clear" )
      div.cc-form--row
        button.cc-form--submit( type= "submit" )= t( 'settings.clearDb' )
