extends layout/page
include components/chart

append styles
  link( rel= "stylesheet", href= "/css/stats.css" )

block main
  div.cc-stats.cc-content--normal
    div.cc-stats--section.cc-stats--overview
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.coins' )
        b= formatter.number( stats.totalCoins, 0 )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.value' )
        b= formatter.money( currency, stats.totalValue.avg )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.growth' )
        b= formatter.percent( stats.growth )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.age' )
        b= formatter.dateDiff( stats.collectionAge, t )

    div.cc-stats--section.cc-stats--value
      h3.cc-stats--headline
        i.fa.fa-diamond
        span= t( 'stats.value.headline' )
      div.cc-box
        +chart( 'value', value )
        +chart( 'growth', value )
        +chart( 'variance', value )

    h3.cc-stats--headline
      i.fa.fa-cube
      span= t( 'stats.type.headline' )

    h3.cc-stats--headline
      i.fa.fa-hashtag
      span= t( 'stats.status.headline' )

    h3.cc-stats--headline
      i.fa.fa-globe
      span= t( 'stats.country.headline' )

    h3.cc-stats--headline
      i.fa.fa-money
      span= t( 'stats.currency.headline' )

    h3.cc-stats--headline
      i.fa.fa-calendar-o
      span= t( 'stats.year.headline' )

    h3.cc-stats--headline
      i.fa.fa-balance-scale
      span= t( 'stats.material.headline' )
