extends layout/page
include components/chart

append styles
  link( rel= "stylesheet", href= "/css/stats.css" )

block main
  div.cc-stats.cc-content--normal
    h2.cc-page-title= t( 'stats.title' )

    div.cc-stats--overview
      div.cc-stats--overview-item.cc-box
        label= t( 'stats.overview.omv' )
        b= formatter.money( currency, stats.totalOmv, stats.totalOmv >= 1e6 ? 2 : 0, { notation: 'compact' } )
        span= t( 'stats.overview.purchase', { purchase: formatter.money( currency, stats.totalPurchase, stats.totalPurchase >= 1e6 ? 1 : 0 ) } )
      div.cc-stats--overview-item.cc-box
        label= t( 'stats.overview.coins' )
        b= formatter.number( stats.totalCoins, 0 )
        span= t( 'stats.overview.since', { age: formatter.dateDiff( stats.collectionAge, t ) } )
      div.cc-stats--overview-item.cc-box
        label= t( 'stats.overview.growth' )
        b= formatter.percent( stats.growth )
        span= t( 'stats.overview.updated', { date: formatter.date( updatedAt ) } )
      div.cc-stats--overview-item.cc-box
        label= t( 'stats.overview.weight' )
        b= formatter.unit( 'kilogram', stats.totalWeight / 1000, 2 )
        span= t( 'stats.overview.weightinfo' )

    div.cc-stats--history
      h3.cc-page-subtitle
        i.fa.fa-diamond
        span= t( 'stats.value' )
      div.cc-stats--box.cc-box
        +chart( 'history', value )

    div.cc-stats--charts
      h3.cc-page-subtitle
        i.fa.fa-database
        span= t( 'stats.portions' )
      div.cc-stats--charts-grid
        div.cc-stats--box.cc-box
          h4.cc-box--hl= t( 'stats.type' )
          +chart( 'portion', { key: 'type', data: stats.type } )
        div.cc-stats--box.cc-box
          h4.cc-box--hl= t( 'stats.status' )
          +chart( 'portion', { key: 'status', data: stats.status } )
        div.cc-stats--box.cc-box
          h4.cc-box--hl= t( 'stats.grade' )
          +chart( 'portion', { key: 'grade', data: stats.grade } )
        div.cc-stats--box.cc-box
          h4.cc-box--hl= t( 'stats.country' )
          +chart( 'portion', { data: stats.country } )
        div.cc-stats--box.cc-box
          h4.cc-box--hl= t( 'stats.currency' )
          +chart( 'portion', { data: stats.currency } )
        div.cc-stats--box.cc-box
          h4.cc-box--hl= t( 'stats.year' )
          +chart( 'portion', { data: stats.year } )

    div.cc-stats--material
      h3.cc-page-subtitle
        i.fa.fa-balance-scale
        span= t( 'stats.material' )
      div.cc-stats--box.cc-box
        table.cc-stats--material-table
          thead
            tr
              th._material= t( 'stats.table.material' )
              th= t( 'stats.table.coins' )
              th= t( 'stats.table.weight' )
              th= t( 'stats.table.pureWeight' )
              th= t( 'stats.table.fineness' )
              th= t( 'stats.table.portion' )
          tbody
            each v, m in stats.material
              tr( material= m )
                td._material: span= t( '_.material.' + m )
                td= formatter.number( v.coins, 0 ).padStart( 3, '*' )
                td= formatter.number( v.weight / 1000, 3 )
                td= formatter.number( v.pureWeight / 1000, 3 )
                td= formatter.number( v.fineness, 1 )
                td= formatter.number( v.portion, 2 )
