extends layout/page

append styles
  link( rel= "stylesheet", href= "/css/stats.css" )

block main
  div.cc-stats.cc-content--normal
    div.cc-stats--overview
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.coins' )
        b= formatter.number( stats.totalCoins, 0 )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.value' )
        b= formatter.money( currency, stats.totalValue.avg )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.growth' )
        b= formatter.percent( stats.growth )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.age' )
        b= formatter.dateDiff( stats.collectionAge, t )
