extends layout/page
include components/chart

mixin table( key, i18n = false )
  - let data = stats[ key ] ?? []
  table.cc-table
    thead
      tr
        th= t( 'stats.' + key + '.label' )
        th.right= t( 'stats._.coins' )
        th.right= t( 'stats._.acquisition' )
        th.right= t( 'stats._.value' )
        th.right= t( 'stats._.avg' )
        th.right= t( 'stats._.growth' )
    tbody
      each r, k in data
        tr
          td: a( href= '/#' + key + '=' + k )= ( i18n ? t( '_.' + key + '.' + k ) : k )
          td.right: tt= formatter.number( r.coins, 0 )
          td.right: tt= formatter.money( currency, r.acquisition )
          td.right: tt= formatter.money( currency, r.value )
          td.right: tt= formatter.money( currency, r.value / r.coins )
          td.right: tt= ( r.acquisition ? formatter.percent( r.value / r.acquisition * 100 - 100 ) : '—' )

append styles
  link( rel= "stylesheet", href= "/css/stats.css" )

block main
  div.cc-stats.cc-content--normal
    div.cc-stats--section.cc-stats--overview
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.coins' )
        b= formatter.number( stats.totalCoins, 0 )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.value' )
        b= formatter.money( currency, stats.totalValue.avg )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.growth' )
        b= formatter.percent( stats.growth )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.age' )
        b= formatter.dateDiff( stats.collectionAge, t )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.acquisition' )
        b= formatter.money( currency, stats.totalAcquisition )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.min' )
        b= formatter.money( currency, stats.totalValue.min )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.max' )
        b= formatter.money( currency, stats.totalValue.max )
      div.cc-box.cc-stats--overview-item
        h3.cc-box--hl= t( 'stats.overview.weight' )
        b= formatter.unit( 'kilogram', stats.totalWeight / 1000 )

    div.cc-stats--section.cc-stats--value
      h3.cc-stats--headline
        i.fa.fa-diamond
        span= t( 'stats.value.headline' )
      div.cc-box
        +chart( 'value', value )
        +chart( 'growth', value )
        +chart( 'variance', value )

    div.cc-stats--section.cc-stats--type
      h3.cc-stats--headline
        i.fa.fa-cube
        span= t( 'stats.type.headline' )
      div.cc-box: +table( 'type', true )

    div.cc-stats--section.cc-stats--status
      h3.cc-stats--headline
        i.fa.fa-hashtag
        span= t( 'stats.status.headline' )
      div.cc-box: +table( 'status', true )

    div.cc-stats--section.cc-stats--country
      h3.cc-stats--headline
        i.fa.fa-globe
        span= t( 'stats.country.headline' )
      div.cc-box: +table( 'country', false )

    div.cc-stats--section.cc-stats--currency
      h3.cc-stats--headline
        i.fa.fa-money
        span= t( 'stats.currency.headline' )
      div.cc-box: +table( 'currency', false )

    div.cc-stats--section.cc-stats--year
      h3.cc-stats--headline
        i.fa.fa-calendar-o
        span= t( 'stats.year.headline' )
      div.cc-box: +table( 'year', false )

    h3.cc-stats--headline
      i.fa.fa-balance-scale
      span= t( 'stats.material.headline' )
