extends ../layout/page
include ../components/form

append styles
  link( rel= "stylesheet", href= "/css/form.css" )
  link( rel= "stylesheet", href= "/css/editor.css" )

append scripts
  script( src= "/js/editor/coinBase.js", defer )

block main
  div.cc-editor.cc-content--normal
    div.cc-editor--nav
      a.current( href= "/add/base" )= t( 'editor.nav.base' )
      a( href= "/add/coin" )= t( 'editor.nav.coin' )

    form.cc-editor--form( enctype= "multipart/form-data" )
      div.cc-box
        h3.cc-box--hl= t( 'editor.base.info.headline' )
        div.cc-form--row
          +text( 'name', t( 'editor.base.info.name' ), undefined, true, 'x2' )
          +select( 'type', t( 'editor.base.info.type' ), keys.type, undefined, true )
        div.cc-form--row
          +text( 'series', t( 'editor.base.info.series' ), undefined, false, 'x2' )
          +text( 'country', t( 'editor.base.info.country' ), undefined, false )
        div.cc-form--row
          +text( 'currency', t( 'editor.base.info.currency' ), undefined, false, 'x2' )
          +text( 'nominalValue', t( 'editor.base.info.nominalValue' ), undefined, false )
          +text( 'nominalUnit', t( 'editor.base.info.nominalUnit' ), undefined, false )
        div.cc-form--row
          +text( 'tags', t( 'editor.base.info.tags' ), undefined, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.images.headline' )
        div.cc-form--row
          +file( 'obverseImage', t( 'editor.base.images.obverse' ), undefined, false )
          +file( 'reverseImage', t( 'editor.base.images.reverse' ), undefined, false )
          +file( 'otherImage', t( 'editor.base.images.other' ), undefined, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.specs.headline' )
        div.cc-form--row
          +number( 'diameter', t( 'editor.base.specs.diameter' ), undefined, false )
          +number( 'thickness', t( 'editor.base.specs.thickness' ), undefined, false )
          +number( 'weight', t( 'editor.base.specs.weight' ), undefined, false )
        div.cc-form--row
          +text( 'issuer', t( 'editor.base.specs.issuer' ), undefined, false, 'x2' )
          +date( 'issueDate', t( 'editor.base.specs.issueDate' ), undefined, false )
          +date( 'devaluationDate', t( 'editor.base.specs.devaluationDate' ), undefined, false )
        div.cc-form--row
          +text( 'mintMarks', t( 'editor.base.specs.mintMarks' ), undefined, false, 'x2' )
          +number( 'mintStartYear', t( 'editor.base.specs.mintStartYear' ), undefined, false, '', 0, 2100, 1 )
          +number( 'mintEndYear', t( 'editor.base.specs.mintEndYear' ), undefined, false, '', 0, 2100, 1 )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.design.headline' )
        div.cc-form--row
          +select( 'shape', t( 'editor.base.design.shape' ), keys.shape, undefined, false )
        div.cc-form--row
          +textarea( 'obverse', t( 'editor.base.design.obverse' ), undefined, false )
        div.cc-form--row
          +textarea( 'reverse', t( 'editor.base.design.reverse' ), undefined, false )
        div.cc-form--row
          +textarea( 'edge', t( 'editor.base.design.edge' ), undefined, false )
          +textarea( 'description', t( 'editor.base.design.description' ), undefined, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.material.headline' )
        each i in [ 0, 1, 2, 3, 4 ]
          div.cc-form--row
            +select( 'material__' + i, t( 'editor.base.material.material' ), keys.material, undefined, false, 'x2' )
            +number( 'fineness__' + i, t( 'editor.base.material.fineness' ), undefined, false, '', 0, 1000, 0.1 )
            +number( 'portion__' + i, t( 'editor.base.material.portion' ), undefined, false, '', 0, 100 )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.identifiers.headline' )
        each i in [ 0, 1, 2, 3, 4 ]
          div.cc-form--row
            +text( 'catalog__' + i, t( 'editor.base.identifiers.catalog' ), undefined, false, 'x2' )
            +text( 'id__' + i, t( 'editor.base.identifiers.id' ), undefined, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.extra.headline' )
        div.cc-form--row
          +textarea( 'notes', t( 'editor.base.extra.notes' ), undefined, false )

      div.cc-form--actions
        button.cc-form--submit( type= "submit" )= t( '_.actions.submit' )
        button.cc-form--abort( type= "reset" )= t( '_.actions.abort' )
