extends ../layout/page
include ../components/form

append styles
  link( rel= "stylesheet", href= "/css/form.css" )
  link( rel= "stylesheet", href= "/css/editor.css" )

append scripts
  script( src= "/js/editor/coinBase.js", defer )

block main
  div.cc-editor.cc-content--normal
    div.cc-editor--nav
      a.current( href= "/add/base" )= t( 'editor.nav.base' )
      a( href= "/add/coin" )= t( 'editor.nav.coin' )
      if mode === 'edit' && coin && coin.id
        span.space
        a( href= "/base/" + coin.id )= t( 'editor.nav.back' )

    form.cc-editor--form( enctype= "multipart/form-data" )
      input( type= "hidden", name= "mode", value= mode )
      input( type= "hidden", name= "id", value= coin && coin.id )
      div.cc-box
        h3.cc-box--hl= t( 'editor.base.info.headline' )
        div.cc-form--row
          +text( 'name', t( 'editor.base.info.name' ), coin && coin.name, true, 'x2' )
          +select( 'type', t( 'editor.base.info.type' ), keys.type, coin && coin.type, true )
        div.cc-form--row
          +text( 'series', t( 'editor.base.info.series' ), coin && coin.series, false, 'x2', suggestions.series )
          +text( 'country', t( 'editor.base.info.country' ), coin && coin.country, false, '', suggestions.country )
        div.cc-form--row
          +text( 'currency', t( 'editor.base.info.currency' ), coin && coin.currency, false, 'x2', suggestions.currency )
          +text( 'nominalValue', t( 'editor.base.info.nominalValue' ), coin && coin.nominal && coin.nominal.value, false )
          +text( 'nominalUnit', t( 'editor.base.info.nominalUnit' ), coin && coin.nominal && coin.nominal.unit, false, '', suggestions.unit )
        div.cc-form--row
          +text( 'tags', t( 'editor.base.info.tags' ), ( coin && coin.tags || [] ).join( ', ' ), false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.image.headline' )
        div.cc-form--row
          +file( 'obverseImage', t( 'editor.base.image.obverse' ), coin && coin.image && coin.image.obverse, false )
          +file( 'reverseImage', t( 'editor.base.image.reverse' ), coin && coin.image && coin.image.reverse, false )
          +file( 'otherImage', t( 'editor.base.image.other' ), coin && coin.image && coin.image.other, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.specs.headline' )
        div.cc-form--row
          +number( 'diameter', t( 'editor.base.specs.diameter' ), coin && coin.dimension && coin.dimension.diameter, false )
          +number( 'thickness', t( 'editor.base.specs.thickness' ), coin && coin.dimension && coin.dimension.thickness, false )
          +number( 'weight', t( 'editor.base.specs.weight' ), coin && coin.dimension && coin.dimension.weight, false )
        div.cc-form--row
          +text( 'issuer', t( 'editor.base.specs.issuer' ), coin && coin.issuer, false, 'x2', suggestions.issuer )
          +date( 'issueDate', t( 'editor.base.specs.issueDate' ), coin && coin.issueDate, false )
          +date( 'devaluationDate', t( 'editor.base.specs.devaluationDate' ), coin && coin.devaluationDate, false )
        div.cc-form--row
          +text( 'mintMarks', t( 'editor.base.specs.mintMarks' ), ( coin && coin.mintMarks || [] ).join( ', ' ), false, 'x2' )
          +number( 'mintStartYear', t( 'editor.base.specs.mintStartYear' ), coin && coin.mintStartYear, false, '', 0, 2100, 1 )
          +number( 'mintEndYear', t( 'editor.base.specs.mintEndYear' ), coin && coin.mintEndYear, false, '', 0, 2100, 1 )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.design.headline' )
        div.cc-form--row
          +select( 'shape', t( 'editor.base.design.shape' ), keys.shape, coin && coin.design && coin.design.shape, false )
        div.cc-form--row
          +textarea( 'obverse', t( 'editor.base.design.obverse' ), coin && coin.design && coin.design.obverse, false )
        div.cc-form--row
          +textarea( 'reverse', t( 'editor.base.design.reverse' ), coin && coin.design && coin.design.reverse, false )
        div.cc-form--row
          +textarea( 'edge', t( 'editor.base.design.edge' ), coin && coin.design && coin.design.edge, false )
          +textarea( 'description', t( 'editor.base.design.description' ), coin && coin.description, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.material.headline' )
        each i in [ 0, 1, 2, 3, 4 ]
          - let material = ( coin && coin.material && coin.material[ i ] ) || {};
          div.cc-form--row
            +select( 'material__' + i, t( 'editor.base.material.material' ), keys.material, material.material, false, 'x2' )
            +number( 'fineness__' + i, t( 'editor.base.material.fineness' ), material.fineness, false, '', 0, 1000, 0.1 )
            +number( 'portion__' + i, t( 'editor.base.material.portion' ), material.portion, false, '', 0, 100 )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.identifier.headline' )
        each i in [ 0, 1, 2, 3, 4 ]
          - let identifier = ( coin && coin.identifier && coin.identifier[ i ] ) || {};
          div.cc-form--row
            +text( 'catalog__' + i, t( 'editor.base.identifier.catalog' ), identifier.catalog, false, 'x2', suggestions.catalog )
            +text( 'id__' + i, t( 'editor.base.identifier.id' ), identifier.id, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.base.extra.headline' )
        div.cc-form--row
          +textarea( 'notes', t( 'editor.base.extra.notes' ), coin && coin.notes, false )

      div.cc-form--actions
        button.cc-form--submit( type= "submit" )= t( '_.actions.submit' )
        button.cc-form--abort( type= "reset" )= t( '_.actions.abort' )
