extends ../layout/page
include ../components/form

append styles
  link( rel= "stylesheet", href= "/css/form.css" )
  link( rel= "stylesheet", href= "/css/editor.css" )

block main
  div.cc-editor.cc-content--normal
    div.cc-editor--nav
      a( href= "/add/base" )= t( 'editor.nav.base' )
      a.current( href= "/add/coin" )= t( 'editor.nav.coin' )

    form.cc-editor--form
      div.cc-box
        h3.cc-box--hl= t( 'editor.coin.info.headline' )
        div.cc-form--row
          div.cc-form--field
            label( for= "__baseId" )= t( 'editor.coin.info.baseId' ) + ' *'
            select( name= "baseId", required= true, id= "__baseId" )
              option( value= "" )= t( 'editor.select' )
              option( disabled ) ──────────
              each base in coinBases
                -
                  let label = [
                    base.name, t( '_.type.' + base.type ), base.series, base.currency, base.country
                  ].filter( Boolean ).join( ', ' ) + ' (#' + base.id + ')';
                option( value= base.id )= label

        div.cc-form--row
          +select( 'status', t( 'editor.coin.info.status' ), keys.status, undefined, true, 'x2' )
          +select( 'grade', t( 'editor.coin.info.grade' ), keys.grade, undefined, true, 'x2' )
          +number( 'amount', t( 'editor.coin.info.amount' ), 1, true, '', 1, undefined, 1 )
        div.cc-form--row
          +checkbox( 'certified', t( 'editor.coin.info.certified' ), undefined, false )
        div.cc-form--row
          +text( 'mintMark', t( 'editor.coin.info.mintMark' ), undefined, false, 'x2' )
          +number( 'mintYear', t( 'editor.coin.info.mintYear' ), undefined, false, '', 0, 2100, 1 )
          +number( 'mintage', t( 'editor.coin.info.mintage' ), undefined, false, '', 0, undefined, 1 )

      div.cc-box
        h3.cc-box--hl= t( 'editor.coin.acquisition.headline' )
        div.cc-form--row
          +select( 'acquisition', t( 'editor.coin.acquisition.method' ), keys.acquisition, undefined, false, 'x2' )
          +date( 'acquisitionDate', t( 'editor.coin.acquisition.date' ), undefined, false )
          +number( 'acquisitionPrice', t( 'editor.coin.acquisition.price' ), undefined, false )
        div.cc-form--row
          +textarea( 'acquisitionNotes', t( 'editor.coin.acquisition.notes' ), undefined, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.coin.value.headline' )
        each i in [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
          div.cc-form--row
            +date( 'date__' + i, t( 'editor.coin.value.date' ), undefined, false )
            +number( 'price__' + i, t( 'editor.coin.value.price' ), undefined, false )

      div.cc-box
        h3.cc-box--hl= t( 'editor.coin.extra.headline' )
        div.cc-form--row
          +textarea( 'notes', t( 'editor.coin.extra.notes' ), undefined, false )

      div.cc-form--actions
        button.cc-form--submit( type= "submit" )= t( '_.actions.submit' )
        button.cc-form--abort( type= "reset" )= t( '_.actions.abort' )
