extends ../layout/page

append styles
  link( rel= "stylesheet", href= "/css/coin.css" )

block main
  div.cc-coin.cc-content--normal
    div.cc-coin--header
      h1.cc-coin--header-title= coin.name
      div.cc-coin--header-actions
        a.current( href= `/base/${coin.id}` )= t( 'view.actions.view' )
        a( href= `/base/${coin.id}/edit` )= t( 'view.actions.edit' )
        a( href= `/base/${coin.id}/delete` )= t( 'view.actions.delete' )

    div.cc-box.cc-coin--info
      h3.cc-box--hl= t( 'view.base.info.headline' )
      div.cc-box--cols
        ul.cc-list
          if coin.type
            li
              span= t( 'view.base.info.type' )
              b: a( href= '/#type='+ coin.type )= t( '_.type.' + coin.type )
          if coin.series
            li
              span= t( 'view.base.info.series' )
              b: a( href= '/#series='+ coin.series )= coin.series
          if coin.country
            li
              span= t( 'view.base.info.country' )
              b: a( href= '/#country='+ coin.country )= coin.country
          if coin.currency
            li
              span= t( 'view.base.info.currency' )
              b: a( href= '/#currency='+ coin.currency )= coin.currency
          if coin.nominal && coin.nominal.value && coin.nominal.unit
            li
              span= t( 'view.base.info.nominal' )
              b= coin.nominal.value + ' ' + coin.nominal.unit
        ul.cc-list
          if coin.issuer
            li
              span= t( 'view.base.info.issuer' )
              b: a( href= '/#issuer='+ coin.issuer )= coin.issuer
          if coin.mintMarks
            li
              span= t( 'view.base.info.mintMarks' )
              b= coin.mintMarks.join( ', ' )
          if coin.mintStartYear || coin.mintEndYear
            li
              span= t( 'view.base.info.mintYears' )
              b= ( coin.mintStartYear || '…' ) + ' — ' + ( coin.mintEndYear || '…' )

    if coins && coins.length
      -
        let count = 0, purchase = 0, value = 0;
        coins.forEach( c => {
          count += c.amount;
          purchase += c.acquisition?.price ?? 0;
          value += c.value?.[ 0 ]?.price ?? 0;
        } );

      div.cc-coin--stats
        div.cc-box.cc-coin--stats-item
          h3.cc-box--hl= t( 'view.base.stats.count' )
          b= formatter.number( count, 0 )
        div.cc-box.cc-coin--stats-item
          h3.cc-box--hl= t( 'view.base.stats.value' )
          b= formatter.money( currency, value )
        div.cc-box.cc-coin--stats-item
          h3.cc-box--hl= t( 'view.base.stats.growth' )
          b= formatter.percent( value / purchase * 100 - 100 )

      table.cc-table.cc-coin--list-table
        thead
          tr
            th= t( 'view.base.list.coin' )
            th= t( 'view.base.list.year' )
            th= t( 'view.base.list.mark' )
            th= t( 'view.base.list.status' )
            th= t( 'view.base.list.grade' )
            th.right= t( 'view.base.list.amount' )
            th.right= t( 'view.base.list.value' )
        tbody
          each c in coins
            tr
              td: a( href= '/coin/' + c.id )= '#' + c.id
              td= c.mintYear || '—'
              td= c.mintMark || '—'
              td= t( '_.status.' + c.status )
              td= t( '_.grade.' + c.grade )
              td.right= formatter.number( c.amount, 0 )
              td.right= formatter.money( currency, ( c.value && c.value[ 0 ] && c.value[ 0 ].price ) || 0 )

    if coin.notes
      div.cc-box.cc-coin--notes
        h3.cc-box--hl= t( 'view.base.notes.headline' )
        ul.cc-list
          li: p= coin.notes

    if coin.tags && coin.tags.length
      div.cc-coin--tags
        each tag in coin.tags
          a( href= '/#tag=' + tag )= tag
