extends ../layout/page

append styles
  link( rel= "stylesheet", href= "/css/coin.css" )

block main
  div.cc-coin.cc-content--normal
    div.cc-coin--header
      h1.cc-coin--header-title= base.name
      div.cc-coin--header-actions
        a.current( href= `/coin/${coin.id}` )= t( 'view.actions.view' )
        a( href= `/base/${base.id}` )= t( 'view.actions.base' )
        a( href= `/coin/${coin.id}/edit` )= t( 'view.actions.edit' )
        a( href= `/coin/${coin.id}/delete` )= t( 'view.actions.delete' )

    div.cc-coin--content
      dic.cc-coin--main
        div.cc-box.cc-coin--info
          h3.cc-box--hl= t( 'view.coin.info.headline' )
          ul.cc-list
            if base.type
              li
                span= t( 'view.coin.info.type' )
                b: a( href= '/#type='+ base.type )= t( '_.type.' + base.type )
            if coin.status
              li
                span= t( 'view.coin.info.status' )
                b: a( href= '/#status='+ coin.status )= t( '_.status.' + coin.status ) + ' (' + coin.amount + 'x)'
            if coin.grade
              li
                span= t( 'view.coin.info.grade' )
                b: a( href= '/#grade='+ coin.grade )= t( '_.grade.' + coin.grade )
            if base.series
              li
                span= t( 'view.coin.info.series' )
                b: a( href= '/#series='+ base.series )= base.series
            if base.country
              li
                span= t( 'view.coin.info.country' )
                b: a( href= '/#country='+ base.country )= base.country
            if base.currency
              li
                span= t( 'view.coin.info.currency' )
                b: a( href= '/#currency='+ base.currency )= base.currency
            if base.nominal && base.nominal.value && base.nominal.unit
              li
                span= t( 'view.coin.info.nominal' )
                b= base.nominal.value + ' ' + base.nominal.unit

        div.cc-box.cc-coin--info
          h3.cc-box--hl= t( 'view.coin.specs.headline' )
          ul.cc-list

        if base.design && ( base.design.obverse || base.design.reverse || base.design.edge )
          div.cc-box.cc-coin--info
            h3.cc-box--hl= t( 'view.coin.design.headline' )
            ul.cc-list
              if base.design && base.design.obverse
                li.column
                  span= t( 'view.coin.design.obverse' )
                  p= base.design.obverse
              if base.design && base.design.reverse
                li.column
                  span= t( 'view.coin.design.reverse' )
                  p= base.design.reverse
              if base.design && base.design.edge
                li.column
                  span= t( 'view.coin.design.edge' )
                  p= base.design.edge

      div.cc-coin--aside
        if base.image && base.image.obverse
          figure.cc-coin--image
            img( src= '/uploads/' + base.image.obverse, alt= t( 'view.coin.image.obverse' ) )
            figcaption= t( 'view.coin.image.obverse' )
        if base.image && base.image.reverse
          figure.cc-coin--image
            img( src= '/uploads/' + base.image.reverse, alt= t( 'view.coin.image.reverse' ) )
            figcaption= t( 'view.coin.image.reverse' )
        if base.image && base.image.other
          figure.cc-coin--image
            img( src= '/uploads/' + base.image.other, alt= t( 'view.coin.image.other' ) )
            figcaption= t( 'view.coin.image.other' )
