extends ../layout/page

append styles
  link( rel= "stylesheet", href= "/css/coin.css" )

block main
  div.cc-coin.cc-content--normal
    div.cc-coin--header
      h1.cc-coin--header-title= base.name
      div.cc-coin--header-actions
        a.current( href= `/coin/${coin.id}` )= t( 'view.actions.view' )
        a( href= `/base/${base.id}` )= t( 'view.actions.base' )
        a( href= `/coin/${coin.id}/edit` )= t( 'view.actions.edit' )
        a( href= `/coin/${coin.id}/delete` )= t( 'view.actions.delete' )

    div.cc-coin--content
      dic.cc-coin--main
        div.cc-box.cc-coin--info
          h3.cc-box--hl= t( 'view.coin.info.headline' )
          ul.cc-list
            if base && base.type
              li
                span= t( 'view.coin.info.type' )
                b: a( href= '/#type='+  base.type )= t( '_.type.' + base.type )
            if base && base.series
              li
                span= t( 'view.coin.info.series' )
                b: a( href= '/#series='+  base.series )= base.series
            if base && base.country
              li
                span= t( 'view.coin.info.country' )
                b: a( href= '/#country='+  base.country )= base.country
            if base && base.currency
              li
                span= t( 'view.coin.info.currency' )
                b: a( href= '/#currency='+  base.currency )= base.currency
            if base && base.nominal && base.nominal.value && base.nominal.unit
              li
                span= t( 'view.coin.info.nominal' )
                b= base.nominal.value + ' ' + base.nominal.unit

      div.cc-coin--aside
